<%= form_tag hide_roles_roles_path do %>
  <% @roles.each_slice(3).to_a.each do |roles| %>
    <ul class="list-inline">
      <% roles.each do |role| %>
        <li class="col-sm-4"><%= role.role_name %> <%= check_box_tag "roles[]", role.id, !role.enable_role %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <div class="col-sm-10">
      <br /><button type="submit" class="btn btn-danger">Hide Roles</button>
    </div>
  </div>
<% end %>