<div class="pull-right"><%= link_to "Hide Roles", hide_roles_roles_path, class: "btn btn-success" %>&nbsp;<%= link_to "Add Role", new_role_path, class: "btn btn-success" %></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Role</th>        
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.role_name %></td>        
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @roles %>